.ui-tooltip-accessible{
	left: -31000px;
	display: block;
	visibility: hidden;
}

	/* IE6 ONLY - Width detection fix */
	* html .ui-tooltip-accessible{
		position: static !important;
		float: left !important;
	}

	/* Accessible fluid class for determining actual width */
	.ui-tooltip-accessible-fluid{
		max-width: none !important;
		min-width: 0px !important;
		max-height: none !important;
		min-height: 0px !important;
	}

.ui-tooltip, .qtip{
	position: absolute;
	display: none;

	max-width: 280px;
	min-width: 50px;
}

	.ui-tooltip-titlebar{
		position: relative;
		min-height: 19px;
		padding: 6px 35px 6px 10px;
		overflow: hidden;
		
		border-width: 3px 3px 0;
		border-style: solid;
		
		font-weight: bold;
	}

	.ui-tooltip-content{
		position: relative;
		padding: 5px 9px;
		overflow: hidden;

		border-width: 3px;
		border-style: solid;

		text-align: left;
		word-wrap: break-word;
		overflow: hidden;
	}

	.ui-tooltip-titlebar + .ui-tooltip-content{ border-top-width: 0px; }

		/*! Default close button class */
		.ui-tooltip-close{
			position: absolute;
			height: 16px;
			width: 16px;
			padding: 1px;
			right: 5px;
			top: 5px;

			cursor: pointer;
		}

			.ui-tooltip-close .ui-tooltip-icon,
			.ui-tooltip-close .ui-icon{
				float: right;
				height: 16px;
				width: 16px;
				display: block;
			}
			
			.ui-tooltip-close .ui-tooltip-icon{
				opacity: 0.8;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
				filter: alpha(opacity=80);
				
				background: transparent url('images/close-icons.png') no-repeat -100em -100em;
			}
			
			.ui-tooltip-close:hover .ui-tooltip-icon{
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
			}

	/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
	.ui-tooltip-focus{

	}


/*! Default tooltip style */
.ui-tooltip-titlebar,
.ui-tooltip-content{
	border-color: #F9E98E;
	color: #A27D35;
}

	.ui-tooltip-content{
		background-color: #FBF7AA;
	}

	.ui-tooltip-titlebar{
		background-color: #F0DE7D;
	}

	.ui-tooltip-close .ui-tooltip-icon{
		background-position: -82px 0;
	}


/*! Light tooltip style */
.ui-tooltip-light .ui-tooltip-titlebar,
.ui-tooltip-light .ui-tooltip-content{
	border-color: #E2E2E2;
	color: #454545;
}

	.ui-tooltip-light .ui-tooltip-content{
		background-color: white;
	}

	.ui-tooltip-light .ui-tooltip-titlebar{
		background-color: #f1f1f1;
	}

	.ui-tooltip-light .ui-tooltip-icon{
		background-position: -62px 0;
	}


/*! Dark tooltip style */
.ui-tooltip-dark .ui-tooltip-titlebar,
.ui-tooltip-dark .ui-tooltip-content{
	border-color: #303030;
	color: #f3f3f3;
}

	.ui-tooltip-dark .ui-tooltip-content{
		background-color: #505050;
	}

	.ui-tooltip-dark .ui-tooltip-titlebar{
		background-color: #404040;
	}

	.ui-tooltip-dark .ui-tooltip-icon{
		background-position: -22px 0;
	}


/*! Red tooltip style */
.ui-tooltip-red .ui-tooltip-titlebar,
.ui-tooltip-red .ui-tooltip-content{
	border-color: #D95252;
	color: #912323;
}

	.ui-tooltip-red .ui-tooltip-content{
		background-color: #F78B83;
	}

	.ui-tooltip-red .ui-tooltip-titlebar{
		background-color: #F06D65;
	}

	.ui-tooltip-red .ui-tooltip-icon{
		background-position: -102px 0;
	}


/*! Green tooltip style */
.ui-tooltip-green .ui-tooltip-titlebar,
.ui-tooltip-green .ui-tooltip-content{
	border-color: #90D93F;
	color: #3F6219;
}

	.ui-tooltip-green .ui-tooltip-content{
		background-color: #CAED9E;
	}

	.ui-tooltip-green .ui-tooltip-titlebar{
		background-color: #B0DE78;
	}

	.ui-tooltip-green .ui-tooltip-icon{
		background-position: -42px 0;
	}


/*! Blue tooltip style */
.ui-tooltip-blue .ui-tooltip-titlebar,
.ui-tooltip-blue .ui-tooltip-content{
	border-color: #ADD9ED;
	color: #5E99BD;
}

	.ui-tooltip-blue .ui-tooltip-content{
		background-color: #E5F6FE;
	}

	.ui-tooltip-blue .ui-tooltip-titlebar{
		background-color: #D0E9F5;
	}

	.ui-tooltip-blue .ui-tooltip-icon{
		background-position: -2px 0;
	}


/*! Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE6+, Safari 2+ */
.ui-tooltip-shadow{
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);

  filter: progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3);
  -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3)";
}

/*! Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.ui-tooltip-rounded{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

