/*! Youtube tooltip style */
.ui-tooltip-youtube{
	background-color: rgba(0, 0, 0, 0.85);

	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
}

	.ui-tooltip-youtube .ui-tooltip-titlebar,
	.ui-tooltip-youtube .ui-tooltip-content{
		background: transparent;
		color: white;

		border: 0px transparent;
	}
	
	.ui-tooltip-youtube .ui-tooltip-icon{
		background-position: -22px 0;
	}


/* jQuery TOOLS Tooltip style */
.ui-tooltip-jtools{
	border: 2px solid white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	-webkit-box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333;
	box-shadow: 0 0 12px #333;

	background-color: rgba(0, 0, 0, 0.7);
	background-image: -moz-linear-gradient(top, #717171, #232323);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#232323);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#232323)";
}

	.ui-tooltip-jtools .ui-tooltip-titlebar,
	.ui-tooltip-jtools .ui-tooltip-content{
		background: transparent;
		color: white;

		border: 0px transparent;
	}

	.ui-tooltip-jtools .ui-tooltip-icon{
		background-position: -22px 0;
	}


/* Cluetip style */
.ui-tooltip-cluetip{
	background-color: #D9D9C2;
	border: 0px solid #D9D9C2;

	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

	.ui-tooltip-cluetip .ui-tooltip-titlebar{
		background-color: #87876A;
		color: white;

		border: 0px transparent;
	}
	.ui-tooltip-cluetip .ui-tooltip-content{
		color: #111;

		border: 0px transparent;
	}


/* Tipsy style */
.ui-tooltip-tipsy{
	border: 0px solid black;
	border: 0px solid rgba(0,0,0,.9);

	background: black;
	background: rgba(0,0,0,.9);
	filter: alpha(opacity=90);

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

	.ui-tooltip-tipsy .ui-tooltip-titlebar,
	.ui-tooltip-tipsy .ui-tooltip-content{
		background: transparent;
		color: white;

		border: 0px transparent;

		font-size: 11px;
		font-family: 'Lucida Grande', sans-serif;
		font-weight: bold;
		line-height: 16px;
		text-shadow: 0 1px black;
	}

	.ui-tooltip-tipsy .ui-tooltip-titlebar{
		padding: 6px 35px 0 10px;
	}

	.ui-tooltip-tipsy .ui-tooltip-content{
		padding: 6px 10px;
	}

	.ui-tooltip-tipsy .ui-tooltip-icon{
		background-position: -22px 0;
	}