#qtip-overlay{
	position: absolute;
	left: -10000em;
	top: -10000em;

	background-color: black;
	cursor: pointer;

	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);

	/* Set this to any below 15000 (default starting z-index for qTips) */
	z-index: 14999;
}

